# Dependencies
node_modules
dist

# Environment variables and secrets
.env
.env.local
.env.development
.env.production
.env.*.local
*.env
server/.env

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build files
server/public

# Editor files (optional)
.vscode/
.idea/

# Coverage reports
coverage/

# Temporary files
*.tmp
*.temp

# Temporary files
*.tar.gz 
